.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
}

.myInfo {
  display: flex;
  width: 50%;
  gap: 6rem;
  margin-top: 3%;
}
.imgContainer {
  width: 50%;
}
.myImg {
  width: 60%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  display: flex;

  border: 2px whitesmoke;
  margin: auto;
  margin-top: 16%;
}

.myInfo h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.myInfo p {
  font-size: 2.6rem;
  line-height: 3.6rem;
}
