.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
}

.imgContainer {
  width: 100%;
}
.myImg {
  width: 60%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  border: 2px whitesmoke;
  margin: auto;
  margin-top: 12%;
}

.myInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 6rem;
  margin-top: 5%;
}
.infoTitle h2 {
  font-size: 4.8rem;
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
}
.myInfo h2 ion-icon {
  background-color: rgb(35, 35, 56);
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  color: yellow;
}
.infoTitle p {
  font-size: 2.8rem;
  opacity: 70%;
  width: fit-content;
  margin: 0 auto;
}
.myInfo h2 {
  font-size: 3.6rem;
  margin-bottom: 5rem;
}

.myInfo p {
  font-size: 2.6rem;
  line-height: 3.8rem;
}
/* *********
personalInfo
******** */
.personalInfo {
  margin-top: 6rem;
}

.personalInfo h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.myPersonalInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  font-size: 2.4rem;
}

.myPersonalInfo p {
  font-weight: 580;
}

.myPersonalInfo p span {
  font-weight: normal;
}

.btnResume {
  width: fit-content;
  font-size: 2.4rem;
  font-weight: 600;
  border: 3px solid rgba(0, 0, 0, 0.575);
  margin-top: 4rem;
  padding: 2rem;
}
