.container {
  display: flex;
  background-color: rgba(232, 233, 239, 0.936);
  background-color: white;
  padding: 2rem 1rem;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.infoTitle h2 {
  font-size: 4.8rem;
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
}
.infoTitle p {
  font-size: 2.8rem;
  opacity: 50%;
  width: fit-content;
  margin: 0 auto;
}
