.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.contactTitle h2 {
  font-size: 4.8rem;
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
}

.contactTitle p {
  font-size: 2.8rem;
  opacity: 50%;
  width: fit-content;
  margin: 0 auto;
}

.Mylinks {
  width: 50%;
  background-color: blueviolet;
  height: max-content;
  padding: 2rem;
}

.myLink {
  background-color: whitesmoke;
  display: flex;
  padding: 2rem;
}
.myLink h3 {
  color: black;
  font-size: 3.2rem;
}
.myLink p {
  opacity: 100%;
  color: black;
  font-size: 2rem;
}

.myLink ion-icon {
  font-size: 2rem;
  color: black;
  background-color: blue;
  width: 3rem;
  /* width: 29rem; */
}
