.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.contactTitle h2 {
  font-size: 4.8rem;
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
}

.contactTitle p {
  font-size: 2.8rem;
  opacity: 50%;
  width: fit-content;
  margin: 0 auto;
}

.Mylinks {
  width: 50%;
  background-color: whitesmoke;
  height: max-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.myLink {
  background-color: white;
  width: 96%;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.iconName {
  display: flex;
  gap: 4rem;
}

.iconName ion-icon {
  border: none;
  color: white;
  background-color: black;
  border-radius: 0.5rem;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
}
.myLink h3 {
  color: black;
  font-size: 3.2rem;
}
.myLink p {
  opacity: 100%;
  color: black;
  font-size: 2rem;
}

.linkBtn {
  font-size: 2rem;
  color: black;
  background-color: inherit;
  align-self: center;
  /* justify-self: end; */
  border: none;
  /* width: 3rem; */
}

.linkBtn:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}
