.container {
  width: 90%;
  margin: 2rem auto;
  display: flex;
}

.detailContainer {
  background-color: whitesmoke;
  width: 50%;
  padding-top: 3rem;
}
.detailContainer h1 {
  font-size: 7rem;
}
.detailContainer h2 {
  font-size: 3rem;
  margin: 2rem 0;
}

.detailContainer p {
  font-size: 3rem;
  line-height: 5rem;
}
.profile {
  width: 50%;
  /* background-color: whitesmoke; */
}

.profile img {
  width: 90%;
  aspect-ratio: 1/0.85;
  border-radius: 50%;
}

.SocialProfiles {
  display: flex;
  margin: 2rem 0;
  align-items: center;
  gap: 2rem;
}

.SocialProfiles p {
  font-weight: bold;
}

.socialLinks {
  display: flex;
  gap: 1rem;
}

.js {
  color: red;
  display: inline-block;
  position: absolute;
}
