.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
}

.detailContainer {
  /* background-color: whitesmoke; */
  width: 50%;
  padding-top: 3rem;
}
.detailContainer h1 {
  font-size: 7rem;
}
.detailContainer h2 {
  font-size: 3rem;
  margin: 2rem 0;
}

.detailContainer p {
  font-size: 3rem;
  line-height: 5rem;
}
.profile {
  width: 50%;
  position: relative;
  /* background-color: whitesmoke; */
}

.myImg {
  width: 70%;
  display: flex;
  margin: auto !important;
  border-radius: 50%;
}

.SocialProfiles {
  display: flex;
  margin: 2rem 0;
  align-items: center;
  gap: 2rem;
}

.SocialProfiles p {
  font-weight: bold;
}

.socialLinks {
  display: flex;
  gap: 2rem;
}

.socialLinks ion-icon {
  color: rgb(27, 27, 55);
  font-size: 4rem;
}
/* *******************
Language icons
 */

.js ion-icon {
  font-size: 5rem;
  position: absolute;
}

.js :first-child ion-icon {
  fill: rgb(255, 255, 10);
  top: 3rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: rgb(27, 27, 55);
}
.js :nth-child(2) ion-icon {
  fill: rgb(233, 20, 216);
  right: 10rem;
  top: 48rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: rgb(27, 27, 55);
}
.js :nth-child(3) ion-icon {
  fill: white;
  stroke-width: 1rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: rgb(27, 27, 55);

  top: 3rem;
  right: 8rem;
}
.js :last-child ion-icon {
  fill: orange;
  top: 50rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: rgb(27, 27, 55);
}
/* CTA BUTTONS */
.ctaBtn {
  display: flex;
  gap: 4rem;
  margin-top: 6rem;
}

.ctaBtn button {
  width: fit-content;
  font-size: 2.4rem;
  padding: 2rem 1.4rem;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
}

.ctaBtn :first-child {
  background-color: rgb(27, 27, 55);
  color: white;
}
.ctaBtn :nth-child(2) ion-icon {
  background-color: white !important;
  color: rgb(27, 27, 55);
}
/* .quickStats */
.quickStats {
  margin-top: 4rem;
}

.quickStatstitle {
  font-size: 3.2rem;
  display: flex;
  gap: 1.8rem;
  margin-bottom: 2rem;
}

.quickStat {
  display: flex;
  gap: 2rem;
}

.quickStat section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(27, 27, 55);
  color: white;
}

.quickStat section {
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.quickStat section ion-icon {
  color: white;
}

.quickStat section p {
  color: white;
}
.quickStat section span {
  color: white;
  font-size: 2rem;
}

/* 
.quickStats div {
  display: flex;
  gap: 1rem;
}

.quickStats div div p {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 2rem;
  width: fit-content;
  color: white;
  line-height: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  border-radius: 3rem;
  text-align: center;
}

.quickStat div p span {
  font-size: 2rem;
  color: whitesmoke;
  font-weight: normal;
}

.quickStats p ion-icon {
  margin: auto;
  color: white;
} */
