.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
}

.detailContainer {
  /* background-color: whitesmoke; */
  width: 50%;
  padding-top: 3rem;
}
.detailContainer h1 {
  font-size: 7rem;
}
.detailContainer h2 {
  font-size: 3rem;
  margin: 2rem 0;
}

.detailContainer p {
  font-size: 3rem;
  line-height: 5rem;
}
.profile {
  width: 50%;
  /* background-color: whitesmoke; */
}

.myImg {
  width: 70%;
  margin: 0 auto !important;
  border-radius: 50%;
}

.SocialProfiles {
  display: flex;
  margin: 2rem 0;
  align-items: center;
  gap: 2rem;
}

.SocialProfiles p {
  font-weight: bold;
}

.socialLinks {
  display: flex;
  /* position: absolute; */
  gap: 2rem;
}

.socialLinks ion-icon {
  color: rgb(27, 27, 55);
  font-size: 4rem;
}

/* CTA BUTTONS */
.ctaBtn {
  display: flex;
  gap: 4rem;
  margin-top: 6rem;
}

.ctaBtn button {
  width: fit-content;
  font-size: 2.4rem;
  padding: 2rem 1.4rem;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
}

.ctaBtn :first-child {
  background-color: rgb(27, 27, 55);
  color: white;
}

/* .quickStats */
.quickStats {
  margin-top: 2rem;
}

.quickStats div p {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 2rem;
  background-color: rgb(27, 27, 55);
  width: fit-content;
  color: white;
  line-height: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  border-radius: 3rem;
  text-align: center;
}
.quickStats div {
  display: flex;
  gap: 1rem;
}

.quickStats p span {
  font-size: 2rem;
  color: whitesmoke;
  font-weight: normal;
}

.quickStats p ion-icon {
  margin: auto;
  color: white;
}
