.container {
  width: 70%;
  height: 80vh;
  margin: 0 auto;
  margin-top: 4rem;
  overflow-y: scroll;
  display: flex;
  border: 0px 3px;
  border: 2px solid black;
  border-bottom: 0;
  border-top: 0;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
}

.projectsCard {
  max-width: 100rem;
  border-radius: 1rem;
  aspect-ratio: 3.6/2;
  background-color: whitesmoke;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projectsCard::before {
  filter: blur(10px);
}

.projects :first-child {
  background-image: url("/worldwise.png");
}

.projects :nth-child(3) {
  background-image: url("/usepop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects :nth-child(3) {
  background-image: url("/usepop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects :nth-child(3) {
  background-image: url("/usepop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.projectsCard h2 {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 1rem;
}
