.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 18rem;
}

.skillheader {
  text-align: center;
}

.skillheader h2 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}
.skillheader p {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.skillcontainer {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.Myskillss {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.skill {
  height: 24rem;
  width: 40rem;
  background-color: rgb(240, 239, 239);
  text-align: center;
  border-radius: 8px;
}

.codepic {
  width: 30%;
  margin-right: 2rem;
}

.codepic img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.skillHead {
  display: flex;
  width: 60%;
  padding: 1rem;
  justify-content: space-between;
}

.skillHead p,
h3 {
  color: black;
  /* color: yellow; */
}

.skillHead p ion-icon {
  font-size: 3.2rem;
}
