.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 18rem;
}

.skillheader {
  text-align: center;
}

.skillheader h2 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}
.skillheader p {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.skillcontainer {
  display: flex;
  width: fit-content;
  /* justify-content: space-between; */
  gap: 5rem;
}

.Myskillss {
  display: grid;

  /* flex-direction: column; */
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.skill {
  height: 24rem;
  width: 40rem;
  background-color: rgb(25, 25, 51);
  background-color: rgb(42, 42, 94);
  text-align: center;
  border-radius: 8px;
  /* display: flex; */
}

.codepic {
  width: 30%;
  margin-right: 2rem;
}

.codepic img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.skillHead {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.skillHead p,
h3 {
  color: white;
  /* color: yellow; */
}

.skillHead p ion-icon {
  font-size: 3.2rem;
}

.skillspar {
  /* display: grid;
  grid-template-columns: repeat(4 (1fr));
  grid-template-columns: (1fr, 1fr, 1fr, 1fr); */
  margin-top: 1rem;
  gap: 1rem;
  align-items: center;
}

.skillitem {
  width: fit-content;
  border-radius: 1rem;
}

.skillHead h3 {
  font-size: 2.5rem !important;
  text-align: start;
  color: aqua;
  margin-bottom: 0.5rem;
}
.skillHead p {
  font-size: 2rem !important;
  text-align: start;
  margin-bottom: 0.5rem;
  width: fit-content;
}
.skillspar p {
  font-size: 1.8rem !important;
  background-color: rgb(24, 24, 71);
  padding: 0.8rem 1rem;
  margin: 0;
}

@media (max-width: 400px) {
  .container {
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 12rem;
    /* display: none; */
  }
  .skillcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
  }
  .Myskillss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .skill {
    height: 18rem;
    /* max-width: 26rem; */
    width: 90%;
    background-color: rgb(240, 239, 239);
    background-color: rgb(42, 42, 94);
    text-align: center;
    border-radius: 8px;
  }

  .skillspar {
    display: grid;
    grid-template-columns: auto;
    margin-top: 1rem;
    gap: 1rem;
    align-items: center;
  }
  .skillHead h3 {
    font-size: 2.5rem !important;
    text-align: start;
    color: aqua;
    margin-bottom: 0.5rem;
  }
  .skillHead p {
    font-size: 2rem !important;
    text-align: start;
    margin-bottom: 0.5rem;
    width: fit-content;
  }
  .skillspar p {
    font-size: 1.8rem !important;
    background-color: rgb(24, 24, 71);
    padding: 0.8rem 1rem;
    margin: 0;
  }

  .codepic {
    width: 30%;
    margin-right: 2rem;
    display: none;
  }
}
