.container {
  width: 80%;
  /* height: 80vh; */
  margin: 0 auto;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: space-between;
  flex-direction: column;
}

.skill {
  height: 25rem;
  background-color: rgba(0, 0, 0, 0.932);
  max-width: 50rem;
  text-align: center;
  border-radius: 8px;
}

.skillHead {
  display: flex;
  width: 60%;
  padding: 1rem;
  justify-content: space-between;
}

.skillHead p,
h3 {
  color: white;
  /* color: yellow; */
}

.skillHead p ion-icon {
  font-size: 3.2rem;
}
