.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  margin-top: 18rem;
}

.tesiHeader {
  text-align: center;
  margin-bottom: 5rem;
}
.tesiHeader h2 {
  font-size: 4.2rem;
  margin-bottom: 1rem;
}
.tesiHeader p {
  font-size: 2rem;
}

.tesiCard {
  overflow-y: scroll;
  width: 65%;
  height: 65vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.review h3 {
  font-size: 2rem;
}
.review p {
  font-size: 1.8rem;
  margin: 1.4rem 0;
}

.personCard {
  background-color: whitesmoke;
  width: 95%;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.testifier {
  align-self: baseline;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.242);
  padding: 1.5rem 0;
  width: 100%;
}

.testifier h2 {
  font-size: 2rem;
}

.testifier p {
  font-size: 1.6rem;
}
.nameInitials {
  padding: 2rem;
  width: fit-content;
  font-size: 2rem;
  border: 2px dotted rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background-color: blueviolet;
}

.testmonialBtn {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: white;
}

.testmonialBtn h3 {
  font-size: 2.8rem;
  color: black;
}
.testmonialBtn button {
  padding: 1.4rem 2rem;
  border: none;
  color: white;
  border-radius: 6px;
  background-color: rgb(38, 38, 79);
}

.testmonialBtn button ion-icon {
  color: white;
  padding: 0;
  margin-top: 1rem;
  top: 1rem;
}

/* Testimonial Form */

.form {
  position: absolute;
  left: 37.5%;
  top: 25vh;
  width: 25%;
  margin: 0 auto;
  height: fit-content;
  background-color: whitesmoke;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  border: white;
}

.formHeader {
  text-align: center;
  width: fit-content;
  margin: 1rem auto;
}
.formHeader h2,
h3 {
  font-size: 2.4rem;
}

.formHeader p {
  font-size: 1.8rem;
}

.formHeader h2 {
  padding: 1rem;
  /* width: fit-content; */
  /* display: flex; */
  background-color: rgb(38, 38, 79);
  margin: 0.5 auto;
  align-self: center;
}
.myform {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}
.myform div {
  display: flex;
  flex-direction: column;
}
.myform div input {
  border: 1px solid rgba(0, 0, 0, 0.164);
  height: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 6px;
  font-size: 2rem;
}

.myform div label {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0.5rem;
}

.formBtn {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 7rem;
}

.formBtn button {
  max-width: 17rem;
  padding: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.353);
  font-weight: bold;
  background-color: white;
}

.formBtn :nth-child(2) {
  background-color: rgb(38, 38, 79);
  color: white;
}

@media (max-width: 400px) {
  .container {
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
  }

  .tesiCard {
    overflow-y: scroll;
    width: 100%;
    height: 65vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }

  .testmonialBtn {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color: white;
  }

  .form {
    position: absolute;
    left: 7.5%;
    top: 25vh;
    width: 85%;
    margin: 0 auto;
    height: fit-content;
    background-color: whitesmoke;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    border: white;
  }
}
