.container {
  display: flex;
  background-color: rgba(232, 233, 239, 0.936);
  background-color: white;
  padding: 2rem 1rem;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.navlinks {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1.4fr 1fr;
  text-decoration: none;
  padding: 0;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.navlinks p {
  opacity: 80%;
  font-weight: 600;
  font-size: 3.6rem;
}
.navlinks li {
  font-weight: 600;
  opacity: 90%;
  font-size: 2.8rem;
  list-style: none;
  padding-left: 2rem;
  text-decoration: none;
  text-align: center;
  align-self: center;
  justify-content: center;
}

.navlinks a:global(.active) {
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  background-color: rgb(14, 14, 30);
}

.navlinks a:global(.active) ion-icon {
  color: white;
}

ion-icon {
  color: #333;
  font-size: 2.8rem;
  transition: all 0.3s ease;
}
